<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<div class="card p-mb-4">
    <p-treeTable [value]="actividades" [columns]="cols">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
            <tr>
                <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    {{rowData[col.field]}}
                </td>
                <td>
                    <button pButton pRipple class="p-button-rounded" *ngIf="rowData.Profundidad!=3" icon="pi pi-plus"
                        (click)="nuevo(rowData)" [style]="{'margin-right': '.5em'}">
                    </button>
                    <button class="p-button-rounded p-button-warning p-mr-2" pButton pRipple icon="pi pi-pencil"
                        (click)="modificar(rowData)" styleClass="p-button-success"></button>

                    <button (click)="deleteActividad(rowData)" class="p-button-rounded p-button-danger" pButton pRipple
                        icon="pi pi-trash" pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>

    <div class="p-fluid p-grid">
        <div class="p-field p-col-12">
            <button (click)="nuevo(null)" pButton pRipple type="button" icon="pi pi-plus" style="float: right;"
                class="alinear-button p-button-rounded p-button-text"></button>
        </div>
    </div>

</div>

<p-dialog header="Actividad" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="formActividad" class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12">
            <label>Descripcion</label>
            <input formControlName="descripcion" type="text" pInputText>
        </div>
        <div class="p-field p-col-12">
            <label>Prioridad</label>
            <p-dropdown appendTo="body" [options]="prioridades" formControlName="prioridad" placeholder="Seleccione una"
                optionLabel="descripcion" optionValue="valor" [showClear]="true"></p-dropdown>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cerrar" (click)="mostrarModal=false; this.formActividad.reset()"
            class="p-button-danger"></button>
        <button pButton type="button" (click)="guardarTipoTrabajador()" label="Guardar"></button>
    </ng-template>
</p-dialog>