.menu-wrapper .sidebar-logo {
  height: 90px;
  padding: 20px 50px;
  padding-right: 20px;
}

.active {
  a {
    color: #f2f5f7 !important;
    background: #221879 !important
  }
}

// .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li > a.active-route {
//   color: #2170E7;
//   color: var(--primary-color);
// }
// .layout-menu-light .menu-wrapper .layout-menu-container .layout-menu > li > a.active-route::before {
//   background-color: #2170E7;
//   background-color: var(--primary-color);
// }