<p-toast baseZIndex="100000" [showTransitionOptions]="'100ms'"></p-toast>
<div class="layout-sidebar layout-static p-ripple-disabled layout-wrapper layout-menu-light layout-topbar-light">

    <app-navbar (toggleSidebarForMe)="sideBarToggler()"></app-navbar>

    <div class="layout-main">

        <div class="layout-content">

            <div class="p-grid p-mb-2">
                <div class="p-col-12">
                    <div class="card">

                        <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>

    <div class="layout-mask modal-in"></div>
</div>