

<!-- <form [formGroup]="formAlmacen" class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-12">
        <label>Nombre del Almacen</label>
        <input formControlName="nombreDelAlmacen" type="text" pInputText>
    </div>
    <div class="p-field p-col-12">
        <label>direccion</label>
        <input formControlName="direccion" type="text" pInputText>
    </div>

    <div class="p-field p-col-12">
        <label>distrito</label>
        <input formControlName="distrito" type="text" pInputText>
    </div>
</form>

<div class="ui-dialog-footer">
    <button pButton type="button" label="Salir" (click)="ref.close()" class="p-button-danger"></button>

    <button style="float: right;" pButton type="button" label="Guardar" (click)="registrarAlmacen()"></button>
</div> -->