<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>

<div>
    <!-- Cotizacion Table -->
    <div class="card p-mb-4">
        <p-table #dt [rows]="10" [paginator]="true" responsive="stack"
            [globalFilterFields]="['razonSocial','precioCotizacion','fechaSolicitudString', 'tipoCotizacion.descripcion']"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} resultados"
            [showCurrentPageReport]="true" [value]="cotizaciones" responsiveLayout="scroll">
            <!-- Input Filtro -->
            <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            id="tFiltro" placeholder="Buscar..." />
                    </span>
                    <button pButton pRipple type="button" label="Registrar" routerLink="crear"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="razonSocial">Empresa/Organización
                        <p-sortIcon field="razonSocial"></p-sortIcon>
                    </th>
                    <th pSortableColumn="precioCotizacion">Precio
                        <p-sortIcon field="precioCotizacion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="fechaSolicitudString">Fecha de Solicitud
                        <p-sortIcon field="fechaSolicitudString"></p-sortIcon>
                    </th>
                    <th pSortableColumn="tipoCotizacion.descripcion">Tipo
                        <p-sortIcon field="estado.descripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="estado.descripcion">Estado
                        <p-sortIcon field="estado.descripcion"></p-sortIcon>
                    </th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cotizacion>
                <tr>
                    <td>{{cotizacion.razonSocial}}</td>
                    <td>{{cotizacion.precioCotizacion | currency:'S/ '}}</td>
                    <td>{{cotizacion.fechaSolicitudString | date: 'dd/MM/yyyy'}}</td>
                    <td>{{cotizacion.tipoCotizacion.descripcion}}</td>
                    <td>{{cotizacion.estado.descripcion}}</td>
                    <td>
                        <button *ngIf="cotizacion.canCotizar" (click)="aceptarCotizacion(cotizacion)" pButton pRipple
                            icon="pi pi-check" class="p-button-rounded p-button-success p-mr-2"
                            pTooltip="Cotizar"></button>
                        <!-- <button (click)="aceptarCotizacion(cotizacion)" pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success p-mr-2" pTooltip="Cotizar"></button> -->
                        <button *ngIf="cotizacion.canEdit" [routerLink]="[cotizacion.idCotizacion]" pButton pRipple
                            icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                            pTooltip="Editar"></button>
                        <button *ngIf="cotizacion.canDelete" (click)="rechazarCotizacion(cotizacion)" pButton pRipple
                            icon="pi pi-trash" class="p-button-rounded p-button-danger" pTooltip="Eliminar"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>