<div>
    <h5>Buscar:</h5>

    <!-- Input Filtro -->
    <div class="p-grid p-mb-4">
        <div class="p-col-6">
            <input id="tFiltro" type="text" pInputText placeholder="Ingresa tu búsqueda">
        </div>
        <div class="p-col-6 p-text-right">
            <button pButton pRipple type="button" label="Registrar Cotización" routerLink="crear"></button>
        </div>
    </div>

    <!-- Cotizacion Table -->
    <div class="card p-mb-4 p-shadow-6">
        <p-table [value]="cotizaciones" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Empresa/Organización</th>
                    <th>Fecha de Solicitud</th>
                    <th>Razon Social</th>
                    <th>Estado</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-ventas>
                <tr>
                    <td>{{ventas.nombre}}</td>
                    <td>{{ventas.empresa}}</td>
                    <td>{{ventas.ruc}}</td>
                    <td>{{ventas.fechaSolicitud}}</td>
                    <td>{{ventas.estado}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-success p-mr-2"
                            pTooltip="Ver"></button>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                            pTooltip="Editar"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            pTooltip="Eliminar"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>
