<!-- <app-gestionar-almacen-register></app-gestionar-almacen-register> -->

<div>



    <h5>Buscar:</h5>

    <!-- Input Filtro -->
    <div class="p-grid p-mb-4">
        <div class="p-col-6">
            <!-- (input)="dt.filterGlobal($event.target.value, 'contains')" -->
            <input type="text" pInputText placeholder="Ingresa tu búsqueda">
        </div>
        <div class="p-col-6 p-text-right">
            <button (click)="mostrarDialogRegister()" pButton pRipple type="button" label="Registrar Cliente"></button>
        </div>
    </div>

    <!-- Cliente Table -->
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <div class="card p-mb-4 p-shadow-6">
        <p-table #dt [value]="almacen" responsiveLayout="scroll">
            <ng-template pTemplate="header">

                <tr>
                    <th>RUC</th>
                    <th>Razon Social</th>
                    <th>Teléfono</th>
                    <th>Opciones</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cliente>
                <tr>
                    <td>{{cliente.ruc}}</td>
                    <td>{{cliente.razonSocial}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>
                        <button (click)="mostrarDialogUpdate(cliente)" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" pTooltip="Editar"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>