.usuario-badge.status-activo {
    background: #689F38;
    color: #ffffff;
}

.usuario-badge.status-inactivo {
    background: #D32F2F;
    color: #ffffff;
}

.usuario-badge {
    border-radius: 13px;
    padding: 0.4em 0.7rem;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}