<app-table-container>
    <p-table #dt [value]="listaPedido" responsiveLayout="scroll" [rows]="10" [paginator]="true" responsiveLayout="stack" [globalFilterFields]="['codigoOrden','solicitante','cliente','fechaEntregaString','estado.descripcion']" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        id="tFiltro" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="codigoOrden">Codigo
                    <p-sortIcon field="codigoOrden"></p-sortIcon>
                </th>
                <th pSortableColumn="solicitante">Solicitante
                    <p-sortIcon field="solicitante"></p-sortIcon>
                </th>
                <th pSortableColumn="cliente">Cliente
                    <p-sortIcon field="cliente"></p-sortIcon>
                </th>
                <th pSortableColumn="fechaEntregaString">Fecha Entrega
                    <p-sortIcon field="fechaEntregaString"></p-sortIcon>
                </th>
                <th pSortableColumn="estado.descripcion">Estado
                    <p-sortIcon field="estado.descripcion"></p-sortIcon>
                </th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
            <tr>
                <td>{{pedido.codigoOrden}}</td>
                <td>{{pedido.solicitante}}</td>
                <td>{{pedido.cliente}}</td>
                <td>{{pedido.fechaEntregaString ? (pedido.fechaEntregaString | date: 'dd/MM/yyyy') : "-"}}</td>
                <td>{{pedido.estado.descripcion}}</td>
                <td>
                    <button [routerLink]="[pedido.idPedido]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" pTooltip="Editar"></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" pTooltip="Eliminar"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
</app-table-container>

<!-- Modal Confirmacion -->
<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>