<app-table-container>
    <p-table [value]="listaPedido" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Codigo</th>
                <th>Solicitante</th>
                <th>Cliente</th>
                <th>Fecha Entrega</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pedido>
            <tr>
                <td>{{pedido.idPedido}}</td>
                <td>{{pedido.solicitante}}</td>
                <td>{{pedido.cliente}}</td>
                <td>{{pedido.fechaEntregaString}}</td>
                <td>{{pedido.estado.descripcion}}</td>
                <td>
                    <button [routerLink]="[pedido.idPedido]" pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2" pTooltip="Editar"></button>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" pTooltip="Eliminar"></button> -->
                </td>


            </tr>
        </ng-template>
    </p-table>
</app-table-container>

<!-- Modal Confirmacion -->
<p-confirmDialog></p-confirmDialog>