<!-- Modal Almacen -->

<div class="p-grid">
    <div class="p-col-12">
        <form [formGroup]="formAlmacen" class="p-fluid p-formgrid p-grid">
            <div class="p-field p-lg-12">
                <label>Nombre</label>
                <input formControlName="nombre" type="text" pInputText>
                <small *ngIf="validarNombreAlmacen" class="p-error">El nombre no puede estar vacío</small>
            </div>
            <div class="p-field p-lg-12">
                <label>Dirección</label>
                <input formControlName="direccion" type="text" pInputText>
                <small *ngIf="validarDireccionAlmacen" class="p-error">La dirección no puede estar vacia</small>
            </div>
            <div class="p-field p-lg-12">
                <label>Distrito</label>
                <input formControlName="distrito" type="text" pInputText>
                <small *ngIf="validarDistritoAlmacen" class="p-error">El distrito no puede estar vacío</small>
            </div>
        </form>
    </div>
</div>

<div class="p-text-right">
    <button pButton class="p-mr-2" type="button" [label]="isRegistrar ?  'Registrar' : 'Actualizar'" (click)="registrarOrUpdateAlmacen()"></button>
    <button pButton class="p-button-danger" type="button" label="Cancelar" (click)="cerrarModal()"></button>
</div>