<div class="card p-mb-4 p-shadow-6">
    <p-table [value]="trabajadores" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Rol</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-tipotrabajador>
            <tr>
                <td>{{tipotrabajador.rol}}</td>
                <td>{{tipotrabajador.cantidad}}</td>
                <td>{{tipotrabajador.precio}}</td>
                <td>{{tipotrabajador.cantidad * tipotrabajador.precio}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning p-mr-2"
                        pTooltip="Editar"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div class="p-fluid p-grid">
    <div class="p-field p-col-12">
        <button (click)="mostrarModal=true" pButton pRipple type="button" icon="pi pi-plus" style="float: right;"
            class="alinear-button p-button-rounded p-button-text"></button>
    </div>
</div>


<p-dialog header="Agregar rol" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="formRol" class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12">
            <label>Rol</label>
            <p-dropdown [options]="tipoTrabajadores" formControlName="rol" placeholder="Seleccione un rol"
                optionLabel="descripcion" optionValue="id" [showClear]="true"></p-dropdown>
        </div>

        <div class="p-field p-col-6">
            <label>Cantidad</label>
            <input formControlName="cantidad" type="number" pInputText>
        </div>
        <div class="p-field p-col-6">
            <label>Precio</label>
            <input formControlName="precio" type="precio" pInputText>
        </div>
    </form>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cerrar" (click)="mostrarModal=false; this.formRol.reset()"
            class="p-button-danger"></button>
        <button pButton type="button" (click)="guardarTipoTrabajador()" label="Guardar"></button>
    </ng-template>
    <!-- <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="mostrarModal=false" label="Cerrar" styleClass="p-button-text"></p-button>
    </ng-template> -->
</p-dialog>