<div class="layout-topbar">
    <div class="layout-topbar-wrapper">

        <app-sidebar></app-sidebar>

        <div class="layout-topbar-right">
            <ul class="layout-topbar-actions">
                <li class="topbar-item search-item"><a tabindex="0"><i class="topbar-icon pi pi-search"></i></a>
                    <div class="search-input-wrapper"><span class="p-input-icon-left"><i class="pi pi-search"></i><input
                                type="text" pinputtext="" placeholder="Search..."
                                class="p-inputtext p-component p-element"></span></div>
                    <ul class="fadeInDown">
                        <div class="search-input-wrapper p-fluid" style="width: 100%;"><span
                                class="p-input-icon-left"><i class="pi pi-search"></i><input type="text" pinputtext=""
                                    placeholder="Search..." class="p-inputtext p-component p-element"></span></div>
                    </ul>
                </li>
                <li class="topbar-item user-profile">
                    <a href="#">
                        <img src="../../../../assets/img/default-avatar.png" alt="avatar-icon">
                    </a>
                    
                    <ul class="fadeInDown">
                        <li><a href="#"><span>Profile</span></a></li>
                        <li><a href="#"><span>Settings</span></a></li>
                        <li><a href="#"><span>Messages</span></a></li>
                        <li><a href="#"><span>Notifications</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>