<form [formGroup]="formCliente" class="p-fluid p-formgrid p-grid">

    <div class="p-field p-col-12">
        <label>RUC</label>
        <input formControlName="ruc" type="text" pInputText>
    </div>
    <div class="p-field p-col-12">
        <label>Razon Social</label>
        <input formControlName="razonSocial" type="text" pInputText>
    </div>

    <div class="p-field p-col-12">
        <label>Teléfono</label>
        <input formControlName="telefono" type="text" pInputText>
    </div>
</form>

<div class="ui-dialog-footer">
    <button pButton type="button" label="Salir" (click)="ref.close()" class="p-button-danger"></button>
    <button style="float: right;" pButton type="button" label="Guardar" (click)="updateCliente()"></button>
</div>