<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel animate__animated animate__fadeInDown">
            <a class="logo" href="#">
                <img src="assets/img/logoJKM-login.png" alt="logo-jkm">
            </a>
            <ng-container *ngIf="isLogin; else recuperarUsuario">
                <div class="p-fluid">
                    <form [formGroup]="formLogin" (ngSubmit)="login()">
                        <div class="p-field">
                            <label for="usuario">Usuario</label>
                            <input id="usuario" type="username" pInputText placeholder="Ingrese su usuario"
                                formControlName="username" />
                        </div>
                        <div class="p-field">
                            <label for="password">Contraseña</label>
                            <input pPassword type="password" [feedback]="false" placeholder="Ingresa su contraseña"
                                formControlName="password" />
                        </div>
                        <a (click)="changeLogin()">Recuperar contraseña</a>
                        <button pButton pRipple type="submit" label="Iniciar sesion" class="p-button-raised w-full p-my-3"
                            [disabled]="formLogin.invalid"></button>
                    </form>
                </div>
            </ng-container>
            <ng-template #recuperarUsuario>
                <div class="p-fluid">
                    <form (ngSubmit)="recoverUser()">
                        <label class="text-center py-3">Recuperar Usuario</label>
                        <div class="p-field flex-column flex">
                            <input id="usuario" type="username" pInputText placeholder="Ingrese tu correo"
                                [(ngModel)]="email" name="email" />
                        </div>
                        <p style="max-width: 35ch;" class="pb-2">
                            Se enviara un mensaje al correo vinculado con las credenciales solicitadas
                        </p>
                        <a (click)="changeLogin()">Volver</a>
                        <button pButton pRipple type="submit" label="Enviar" class="p-button-raised w-full p-my-3"
                            [disabled]="!email"></button>
                    </form>
                </div>
            </ng-template>
        </div>
        <div class="login-footer">
            <h4>JKM</h4>
            <h6>Copyright Ⓒ TP 2021</h6>
        </div>
    </div>
</div>