<p-confirmDialog header="Confirmar" icon="pi pi-exclamation-triangle" acceptLabel="Si" rejectLabel="No">
</p-confirmDialog>

<div class="card p-mb-4">
    <p-table [value]="trabajadoresProyecto" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Nombre y apellidos</th>
                <th>Tipo</th>
                <th>Opciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-trabajador>
            <tr>
                <td>{{trabajador.nombre}} {{trabajador.apellido}}</td>
                <td>{{trabajador.tipo.descripcion}}</td>
                <td>

                    <button (click)="deleteTrabajador(trabajador)" pButton pRipple icon="pi pi-trash"
                        class="p-button-rounded p-button-danger" pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="p-fluid p-grid">
        <div class="p-field p-col-12">
            <button (click)="nuevo()" pButton pRipple type="button" icon="pi pi-plus" style="float: right;"
                class="boton-table alinear-button p-button-rounded p-button-text"></button>

            <button [ngClass]="this.trabajadoresProyecto.length==0?'sin-trabajadores':''"
                (click)="mostrarModalRol = true;" pButton pRipple type="button" icon="pi pi-users" style="float: right;"
                class="boton-table alinear-button p-button-rounded p-button-text"></button>
        </div>
    </div>

</div>


<p-dialog [header]="'Trabajador '" [(visible)]="mostrarModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="formTrabajador" class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12">
            <label>Tipo Trabajador</label>
            <p-dropdown [showClear]="false" (onChange)="filtrarTrabajadores($event.value)" appendTo="body"
                [options]="tipoTrabajadores" formControlName="tipo" placeholder="Seleccione un tipo trabajador"
                optionValue="idTipoTrabajador" optionLabel="descripcion">
            </p-dropdown>
            <small class="p-error"
                *ngIf="formTrabajador.controls.tipo.hasError('required') && formTrabajador.controls.tipo.touched">Obligatorio</small>
        </div>

        <div class="p-field p-col-12">
            <label>Nombre y apellidos</label>
            <p-dropdown [showClear]="false" appendTo="body" [options]="trabajadoresFiltrado"
                formControlName="trabajador" placeholder="Seleccione un trabajador" optionValue="id"
                optionLabel="descripcion">
            </p-dropdown>
            <small class="p-error"
                *ngIf="formTrabajador.controls.trabajador.hasError('required') && formTrabajador.controls.trabajador.touched">Obligatorio</small>
        </div>

    </form>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cerrar"
            (click)="mostrarModal=false; this.formTrabajador.reset(); this.trabajadoresFiltrado=[]"
            class="p-button-danger"></button>
        <button pButton type="button" (click)="guardarTrabajador()" label="Guardar"></button>
    </ng-template>
</p-dialog>

<p-dialog [header]="'Tipo Trabajador Recomendados'" [(visible)]="mostrarModalRol" [modal]="true"
    [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div class="card p-mb-4">
        <p-table [value]="tipoTrabajadoresProyecto" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>Rol</th>
                    <th>Cantidad</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-tipotrabajador>
                <tr>
                    <td>{{tipotrabajador.descripcion}}</td>
                    <td>{{tipotrabajador.countTrabajadores}} de {{tipotrabajador.cantidad}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>