<div class="card">

    <h5 class="p-mb-5">Detalle Pedido</h5>

    <div class="p-grid">
        <div class="p-col-12">
            <form [formGroup]="formPedido" class="p-fluid p-formgrid p-grid">
                <div class="p-field p-lg-2">
                    <label>Codigo</label>
                    <input formControlName="codigo" type="text" pInputText readonly>
                </div>

                <div class="p-field p-lg-5">
                    <label>Solicitante</label>
                    <input formControlName="solicitante" type="text" pInputText readonly>
                </div>

                <div class="p-field p-lg-5">
                    <label>Cliente</label>
                    <input formControlName="cliente" type="text" pInputText readonly>
                </div>

                <div class="p-field p-col-2">
                    <label for="range">Fecha Solicitud</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [baseZIndex]="10000" formControlName="fechaSolicitud" inputId="basic"></p-calendar>

                </div>

                <div class="p-field p-col-5">
                    <label for="range">Fecha Entrega</label>
                    <p-calendar appendTo="body" dateFormat="dd/mm/yy" [baseZIndex]="10000" formControlName="fechaEntrega" inputId="basic">
                    </p-calendar>
                    <small *ngIf="getValidarFechaEntrega" class="p-error">La fecha de entrega no puede ser menor a la fecha actual</small>
                </div>

                <div class="p-field p-col-5">
                    <label>Estado</label>
                    <p-dropdown [options]="listaEstadoPedido" optionLabel="descripcion" [showClear]="true" placeholder="Estado" formControlName="estado"></p-dropdown>
                </div>


            </form>
            <div class="p-text-right">
                <button pButton pRipple type="button" label="Actualizar" (click)="actualizarPedido()"></button>
            </div>
        </div>

        <hr>
        <!-- Lista Pedido -->

        <div class="p-col-12">
            <h4>Lista Productos</h4>

            <p-table [value]="productos" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Cantidad</th>
                        <th>Precio Unitario</th>
                        <th>Precio Total</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                    <tr>
                        <td>{{producto.codigo}}</td>
                        <td>{{producto.nombre}}</td>
                        <td>
                            <i class="pi pi-image" style="font-size: 2rem" (click)="verImagen(producto.imagen)"></i>
                        </td>
                        <td>{{producto.cantidad}}</td>
                        <td>{{producto.precioProd | currency:'S/ ' }}</td>
                        <td>{{producto.cantidad * producto.precioProd | currency:'S/ ' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                    <tr>
                        <td colspan="5" class="p-text-right">Total</td>
                        <td>{{ precioTotal | currency:'S/ '}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En total hay {{productos ? productos.length : 0 }} productos.
                    </div>
                </ng-template>
            </p-table>
        </div>

    </div>
</div>