/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5 {
    all: none;
}

/* ScrollBar  */

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: #f5f5f5;
    box-shadow: 0 0 2px rgba(0,0,0, .2) inset;
}
::-webkit-scrollbar-thumb {
    background: #271e78;
    border-radius: 8px;
    border: 3px solid #f5f5f5;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f185e;
}

/* BreadCrumb */
.p-breadcrumb {
    background: none !important; 
    border: none !important; 
    border-radius: none !important; 
    padding: 1rem;
}

.p-breadcrumb ul li:last-child .p-menuitem-text{
    color: #ffffff !important;
}

.p-breadcrumb ul li.p-breadcrumb-chevron {
    color: #ffffff !important;
}

.p-breadcrumb ul li .p-menuitem-link .p-menuitem-icon {
    color: #ffffff !important;
}