<div class="layout-dashboard">
    <div class="p-grid">

        <div class="p-col-12">
            <div class="notification">
                <h6>👋 Hello! Welcome to Hit! Before start please complete your profile to know
                    you better. <a href="#">Profile settings <i class="pi pi-arrow-up"></i></a></h6>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col">
                    <div class="card overview-box white">
                        <div class="overview-info">
                            <h6>Graphics</h6>
                            <h1>18%</h1>
                        </div><i class="pi pi-image"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box blue">
                        <div class="overview-info">
                            <h6>New users (Today)</h6>
                            <h1>32</h1>
                        </div><i class="pi pi-users"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box gray">
                        <div class="overview-info">
                            <h6>Uptime</h6>
                            <h1>5h12m</h1>
                        </div><i class="pi pi-globe"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box darkgray">
                        <div class="overview-info">
                            <h6>Text coverage</h6>
                            <h1>96%</h1>
                        </div><i class="pi pi-th-large"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box orange">
                        <div class="overview-info">
                            <h6>Cloud users</h6>
                            <h1>4216</h1>
                        </div><i class="pi pi-cloud"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col">
                    <div class="card overview-box white">
                        <div class="overview-info">
                            <h6>Graphics</h6>
                            <h1>18%</h1>
                        </div><i class="pi pi-image"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box blue">
                        <div class="overview-info">
                            <h6>New users (Today)</h6>
                            <h1>32</h1>
                        </div><i class="pi pi-users"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box gray">
                        <div class="overview-info">
                            <h6>Uptime</h6>
                            <h1>5h12m</h1>
                        </div><i class="pi pi-globe"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box darkgray">
                        <div class="overview-info">
                            <h6>Text coverage</h6>
                            <h1>96%</h1>
                        </div><i class="pi pi-th-large"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box orange">
                        <div class="overview-info">
                            <h6>Cloud users</h6>
                            <h1>4216</h1>
                        </div><i class="pi pi-cloud"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col">
                    <div class="card overview-box white">
                        <div class="overview-info">
                            <h6>Graphics</h6>
                            <h1>18%</h1>
                        </div><i class="pi pi-image"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box blue">
                        <div class="overview-info">
                            <h6>New users (Today)</h6>
                            <h1>32</h1>
                        </div><i class="pi pi-users"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box gray">
                        <div class="overview-info">
                            <h6>Uptime</h6>
                            <h1>5h12m</h1>
                        </div><i class="pi pi-globe"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box darkgray">
                        <div class="overview-info">
                            <h6>Text coverage</h6>
                            <h1>96%</h1>
                        </div><i class="pi pi-th-large"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box orange">
                        <div class="overview-info">
                            <h6>Cloud users</h6>
                            <h1>4216</h1>
                        </div><i class="pi pi-cloud"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12">
            <div class="p-grid">
                <div class="p-col">
                    <div class="card overview-box white">
                        <div class="overview-info">
                            <h6>Graphics</h6>
                            <h1>18%</h1>
                        </div><i class="pi pi-image"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box blue">
                        <div class="overview-info">
                            <h6>New users (Today)</h6>
                            <h1>32</h1>
                        </div><i class="pi pi-users"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box gray">
                        <div class="overview-info">
                            <h6>Uptime</h6>
                            <h1>5h12m</h1>
                        </div><i class="pi pi-globe"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box darkgray">
                        <div class="overview-info">
                            <h6>Text coverage</h6>
                            <h1>96%</h1>
                        </div><i class="pi pi-th-large"></i>
                    </div>
                </div>
                <div class="p-col">
                    <div class="card overview-box orange">
                        <div class="overview-info">
                            <h6>Cloud users</h6>
                            <h1>4216</h1>
                        </div><i class="pi pi-cloud"></i>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>